{% extends 'base.html' %}
{% block hcontent %} {% endblock hcontent %}
<title>{% block title %}Creyp | Why Us❔{% endblock title %}</title>
{% block content %}
  <!-- why section -->
  <section class="why_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Why BitCoin?
        </h2>
      </div>
      <div class="why_container">
        <div class="box">
          <div class="detail-box">
            <h4>
              BitCoin for <br>
              Individuals
            </h4>
          </div>
        </div>
        <div class="box">
          <div class="detail-box">
            <h4>
              BitCoin for <br>
              Business

            </h4>
          </div>
        </div>
        <div class="box">
          <div class="detail-box">
            <h4>
              BitCoin for <br>
              Investors
            </h4>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="">
          Read More
        </a>
      </div>
    </div>
  </section>
  <!-- end why section -->
{% endblock content %}