{% extends 'base.html' %} {% load static %}
<title>{% block title %}{{type}}{% endblock title %}</title>
{% block content %}
{% include 'components/breadcrumbs.html' with crumbs=crumbs title=type %}
<!-- Auth section -->
<div class="account-login section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
        {% block form %}
        {% endblock form %}
      </div>
    </div>
  </div>
</div>
<!-- end contact section -->

{% endblock content %}
