{% extends 'auth/forms.html' %}
{% load static %}
{% block form %}
<form class="card login-form inner-content" action="/auth/account/{{type|slugify}}/" method="POST">
  {% csrf_token %}
  <div class="card-body">
  <div class="title">
  <h3>Sign Up Now</h3>
  <p>Use the form below to create your new account.</p>
  </div>
  <div class="alt-option">
  <span class="small-title">Sign up with your work email</span>
  <a href="javascript:void(0)" class="option-button"><img src="{% static 'images/account-login/google.png' %}" alt="#">Sign
  Up With Google
  </a>
  </div>
  <div class="or"><span>Or</span></div>
  <div class="form-errors">
    {% for field in form %}
    <div class="form-error">
    {% for error in field.errors %}
      <p style="color: red">{{ error }}</p>
    {% endfor %}
  </div>
    {% endfor %}
</div>
  <div class="input-head">
  <div class="row">
  <div class="col-lg-6 col-12">
  <div class="form-group input-group">
  <label><i class="lni lni-user"></i></label>
  <input class="form-control" name="username" type="text" placeholder="Your username" required>
  </div>
   </div>
  <div class="col-lg-6 col-12">
  <div class="form-group input-group">
  <label><i class="lni lni-envelope"></i></label>
  <input class="form-control" name="email" type="email" placeholder="Your email" required>
  </div>
  </div>
  </div>
  <div class="form-group input-group">
  <label><i class="lni lni-lock-alt"></i></label>
  <input class="form-control" name="password1" type="password" placeholder="Your password" required>
  </div>
  <div class="form-group input-group">
  <label><i class="lni lni-lock-alt"></i></label>
  <input class="form-control" name="password2" type="password" placeholder="Confirm password" required>
  </div>
  </div>
  <div class="button">
  <button class="btn" type="submit">Create Account</button>
  </div>
  <h4 class="create-account">Already have an account? <a href="{% url 'login' %}">Sign In</a>
  </h4>
  </div>
  </form>
{% endblock form %}